$column: 150, 300, 300, 220;
$column-sum: nth($column,1) + nth($column,2) + nth($column,3) + nth($column,4);

.f-cont{
  text-align: center;
  border-top: 3px solid #ff7b30;
  border-bottom: 1px solid #acacac;
  margin-top: 50px;
  a{
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px;
    text-decoration: none;
    color: rgb(102,102,102);
    letter-spacing: -.5px;
  }
  a::after{
    content: '';
    float: right;
    background-color: black;
    width: 1px;
    height: 15px;
    margin: 0px 14px;
  }
  .f-2{font-weight: 700;}
  .f-8::after{background-color: white;}
}

.f-grid{
  display: grid;
  width: $column-sum+px;
  margin: 0px auto 50px;
  grid-template-areas: 
  'grid1 grid2 grid3 grid4'
  'grid1 grid5 grid6 grid7';
  grid-template-columns: 
  nth($column,1)+px nth($column,2)+px nth($column,3)+px nth($column,4)+px;
  grid-template-rows: 240px 120px;
  row-gap: 0px; column-gap: 0px; padding: 0px;
  color: #666666;
  .f-grid-1{
    grid-area: grid1;
    border: none;
    padding: 0px;
    .image{@include image-loading(100px, 50px, -397px, -398px)}
  }
  .f-grid-2{
    grid-area: grid2;
    border: none;
    padding: 0px;
    .p1{font-weight: bold; display: inline-block; margin-bottom: 10px;}
    .p2{display: inline-block; margin-top: 15px; font-size: 10px;} 
    .p3{font-size: 10px;}
    .p4{font-size: 10px; margin-top: 10px;}
    p>button{font-size: 10px; border: 1px solid grey; width: 90px; border-radius: 3px; float: right;
    // &:after{content:''; width:3px; height:3px; background-color: black; }
    }
  }
  .f-grid-3{
    grid-area: grid3;
    border: none;
    padding: 0px;
    strong{font-weight: bold; margin-bottom: 10px; display: inline-block;}
    .p5{font-size: 10px;}
    ul>li>span{display: inline-block; width: 60px;}
    .p6{font-size: 10px;}
    .p7{display: inline-block; margin-top: 10px;}
  }
  .f-grid-4{
    grid-area: grid4;
    border: none;
    padding: 0px;
    div{
      padding: 0px;
      .facebook{@include image-loading(36px, 36px, -461px, -488px); margin-right:5px;}
      .instagram{@include image-loading(36px, 36px, -512px, -488px); margin-right:5px;}
      .naverblog{@include image-loading(36px, 36px, -405px, -262px); margin-right:5px;}
      .naverpost{@include image-loading(36px, 36px, -556px, -563px); margin-right:5px;}
      .twitter{@include image-loading(36px, 36px, -204px, -626px)}
      .image1{@include image-loading(90px, 55px, -210px, -140px)}
      .image2{@include image-loading(70px, 55px, -5px, -493px)}
    }
  }
  .f-grid-5{
    grid-area: grid5;
    border: none;
    padding: 0px;
    .image{@include image-loading(35px, 33px, -617px, -399px); float: left;}
  }
  .f-grid-6{
    grid-area: grid6;
    border: none;
    padding: 0px;
    .image{@include image-loading(36px, 33px, -610px, -513px); float: left;}
  }
  .f-grid-7{
    grid-area: grid7;
    border: none;
  }
  div{
    padding: 10px;
    border: rgba(0, 0, 0, 0.1) 1px solid;}
}

.move-top{
  position: fixed;
  bottom: 62px;
  right: calc(50% - 558px);
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 1px solid #d9d9d9;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  &::after{
    content: 'TOP(img)';
    padding-left: 2px;
    line-height: 56px;
    text-decoration: none;
  }
}

.bottom-fixed{
  display: none;
}