// common
* {
  box-sizing: border-box;
}

body{
  font-size: 12px;
  font-family: 'NanumBarunGothic', sans-serif;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

[class^="inner"] {
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
}

.ui-dropdown {
  display: inline-block;
  // hover 적용
}

// top advertisement
.btn-closeAd {
  display: none;
}

// header
.top-navigation {
  background-color: $gray-bgc;
  height: 32px;
}
.inner-top-nav {
  display: flex;
  justify-content: space-between;
  color: $gray-font;
  align-items: center;
  [class^="btn"] {
    @include font-module(13px, $color:$gray-font);
    padding: 13px
  }
}

.search-header {
  border-bottom: 1px solid $line-division;
  overflow: hidden;
}

.inner-top-search {
  padding: 10px 0;
}

[class^="link"] {
  @include font-module(18px, 550, $color:$gray-font);
  vertical-align: 4px;
}

.company-title {
  display: inline-block;
  padding: 0 27px;
  .company-logo {
    width: 73px;
    vertical-align: baseline;
  }
}

// 서비스 모음
.wrap-serviceNav {
  display: inline-block;
  & > * {
    margin-right: 20px;
  }
  .link-product {
    color: $orange-font;
  }
}

// 상품 검색
.search-form {
  @include border-module(1px, $orange-font, 5px);
  display: inline-block;
  vertical-align: 5px;
  padding: 5px 0 5px 8px;
  margin-right: 18px;
  .search-text {
    border: none;
    font-size: 14px;
    width: 285px;
    &:focus {
      outline: none;
    }
    &::placeholder {
      color: rgb(180, 180, 180);
    }
  }
  .search-btn {
    position: relative;
    font-size: 1px;
    text-indent: -9999px;
    &::before {
      position: absolute;
      top: -9px;
      right: 3px;
      display: inline-block;
      content: "";
      background-image: url(../images/icons/search_icon.svg);
      background-repeat: no-repeat;
      background-size: cover;
      width: 30px;
      height: 30px;
    }
  }
}

// 제품 순위 리스트
.ranking-product {
  display: inline-block;
  .ranking-item {
    .link-item{
      @include font-module(13px, $color:$gray-font);
      font-size: 13px;
      em {
        color: black;
        font-weight: 550;
        margin-right: 10px;
      }
    }
  }
}

// 내정보, 장바구니
.wrap-profile {
  position: relative;
  bottom: -26px;
  float: right;
  & > * {
    @include font-module(10px, $color:$gray-font);
    margin-right: 20px;
  }
  [class^="link"]::before {
    position: absolute;
    top: -32px;
    display: block;
    content: "";
    background-size: cover;
    background-repeat: no-repeat;
    width: 33px;
    height: 33px;
  }
  .link-profile::before {
    background-image: url(../images/icons/person_icon.svg);
    left: 0;
  }
  .link-myBasket::before {
    background-image: url(../images/icons/shopping_basket_icon.svg);
    right: 23px;
  }
  .basket-count {
    @include font-module(12px, $height:20px, $color:#fff);
    position: absolute;
    top: -31px;
    right: 15px;
    display: block;
    background-color: $orange-font;
    text-align: center;
    width: 18px;
    height: 18px;
    border-radius: 100%;
  }
}

// 전역 네이게이션 바
.gnb {
  .nav-wrap {
    position: relative;
    z-index: 30;
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 2px -1px rgba(0,0,0,0.2);
    .btn-gnb {
      @include font-module(13px, $color:$gray-font);
      display: inline-block;
      padding: 10px 8px;
      &:hover {
        color: $orange-font;
      }
    }
    .on .btn-gnb {
      display: inline-block;
      color: $orange-font;
      border-bottom: 2px solid $orange-font;
    }
  }
}

// 슬라이드 배너
.container-banner {
  overflow: hidden;
  position: relative;
}

.banner-wrap {
  position: relative;
  width: 100000px;

  .showroom-banner.list-item {
    display: block;
  }
  .showroom-banner {
    display: none;
    position: relative;
    float: left;
    width: 100vw;
    height: 480px;
    background-color: #b39272;
    .link-banner {
      display: block;
      height: 100%;
      width: 100%;
      .banner-img {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 1920px;
        height: 100%;
      }
    }
  }
}

// 슬라이드 배너 컨드롤러
.ui-control {
  .btn-slice {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1px;
    text-indent: -9999px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 25px;
    height: 25px;
    &.prev {
      background-image: url(../images/icons/prev_icon.svg);
      left: 5%;
      // transform: translateX(-50%);
    }
    &.next {
      background-image: url(../images/icons/next_icon.svg);
      right: 5%;
      // transform: translateX(-50%);
    }
  }
}