@mixin font-module($size, $weight:500, $height:16px, $color:black) {
  font-size: $size;
  font-weight: $weight;
  line-height: $height;
  color: $color;
}

@mixin border-module($pixel, $color, $radius:false) {
  border: $pixel solid $color;
  @if ($radius) {
    border-radius: $radius;
  }
}
