// common
* {
  box-sizing: border-box;
}

body{
  font-size: 12px;
  font-family: 'NanumBarunGothic', sans-serif;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.ui-dropdown {
  display: inline-block;
  // 아래에서 hover 적용
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// mobile 친구들
// .hide-category,
[class$="mobile"] {
  display: none
}


// hover시 보여지는 친구
.show-ui {
  @include border-module(1px, #000, 4px);
  position: absolute;
  z-index: 100;
  background-color: #fff;
  padding: 25px;
  top: 0px;
  &::before,
  &::after {
    @include triangle(8px, #fff, up);
    position: absolute;
    top: -16px;
    left: 75px;
    transform: translateX(-50%);
    content: "";
  }
  &::before {
    border-bottom: 8px solid #000;
    top: -17px;
  }
}

// top advertisement
.advertisement {
  background-color: #000;
  .inner {
    position: relative;
    width: 1000px;
    margin: 0 auto;
  }
  .btn-closeAd {
    position: absolute;
    text-indent: -9999px;
    &::after {
      display: block;
      content: "";
      position: absolute;
      top: 27px;
      right: 10%;
      background-color: #fff;
      background-image: url(../../images/icons/close_icon.svg);
      background-position: center;
      background-size: 12px;
      background-repeat: no-repeat;
      border-radius: 100%;
      width: 15px;
      height: 15px;
    }
  }
}


// header gray bar
.top-navigation {
  background-color: $gray-bgc;
  height: 32px;
}
.inner-top-nav {
  position: relative;
  width: 1000px;
  display: flex;
  justify-content: space-between;
  color: $gray-font;
  align-items: center;
  margin: 0 auto;
  [class^="btn"] {
    @include font-module(12px, $color:$gray-font);
    padding: 12px
  }
  .ui-dropdown:hover .container-install,
  .ui-dropdown:hover .customer-center {
    display: block;
  }
}

// header gray bar hover section
.container-install {
  // show-ui class를 overiding하여 해당 요소에 맞게 위치 조정
  display: none;
  top: 32px;
  .install-title {
    @include font-module(18px, $color:$gray-font);
    border-bottom: 1px solid #000;
    padding-bottom: 8px;
    margin-bottom: 25px;
    &::before {
      @include image-loading(40px, 40px, -685px, -141px);
      content: "";
      vertical-align: -18px;
      margin-right: 4px;
    }
  }
  ol {
    display: flex;
    li {
      &:first-child {
        margin-right: 50px;
      }
      strong {
        display: block;
        font-size: 12px;
      }
      // 1.
      form {
        #phone-value {
          padding: 3px 15px 3px 8px;
          font-size: 12px;
          margin: 10px 0;
        }
        .btn-submit {
          @include font-module(12px, 700, 17px, $color:#fff);
          background-color: $orange-font;
          border-radius: 2px;
          padding: 4px 10px;
        }
      }
      // error message
      .error-msg {
        @include font-module(10px, $color:red);
        display: none;
        margin-bottom: 5px;
      }
      // 2.
      p {
        font-size: 10px;
        width: 200px;
      }
      img {
        width: 100px;
        vertical-align: top;
      }
    }
  }
}

// customer center
.register-wrap {
  position: relative;
  .customer-center {
    display: none;
    // show-ui class를 overiding하여 해당 요소에 맞게 위치 조정
    padding: 5px;
    border-color: $line-division;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.2);
    right: -22px;
    top: 35px;
    &::before,
    &::after {
      left: 50%;
    }
    &::before {
      border-bottom-color: $line-division;
    }
    li {
      margin: 8px;
      font-size: 12px;
      padding-right: 20px;
      a {
        font-size: 11px;
        &:hover {
          color: $orange-font;
        }
      }
    }
  }
}

// header search section
.search-header {
  border-bottom: 1px solid $line-division;
}

.inner-top-search {
  position: relative;
  width: 1000px;
  margin: 0 auto;
  padding: 10px 0;
}

[class^="link"] {
  @include font-module(18px, 550, $color:$gray-font);
  vertical-align: 4px;
}

.company-title {
  display: inline-block;
  padding: 0 27px;
  .company-logo {
    width: 73px;
    vertical-align: -3px;
  }
}

// 서비스 모음
.wrap-serviceNav {
  display: inline-block;
  & > * {
    margin-right: 20px;
  }
  .link-product {
    color: $orange-font;
  }
  .class-tip {
    @include font-module(10px, $height:19px, $color:#fff);
    background-image: linear-gradient(to bottom, #a527e7, #8c36ed 100%);
    position: absolute;
    left: 150px;
    top: -18px;
    border-radius: 2px;
    padding: 3px 8px;
    animation: vertical_move linear 4s infinite;
    @keyframes vertical_move {
      0% {
        transform: translateY(3px);
      }
      50% {
        transform: translateY(-3px);
      }
      100% {
        transform: translateY(3px);
      }
    }
    &::after {
      position: absolute;
      bottom: -4px;
      left: 50%;
      transform: translateX(-50%);
      content: "";
      display: block;
      width: 0;
      height: 0;
      border-top: 5px solid #8c36ed;
      border-bottom: 5px solid none;
      border-right: 5px solid transparent;
      border-left: 5px solid  transparent;
    }
  }
}

// 상품 검색
.search-form {
  @include border-module(1px, $orange-font, 5px);
  display: inline-block;
  vertical-align: 5px;
  padding: 8px 0 8px 8px;
  margin-right: 18px;
  .search-text {
    border: none;
    font-size: 14px;
    width: 285px;
    &:focus {
      outline: none;
    }
    &::placeholder {
      color: rgb(180, 180, 180);
    }
  }
  .search-btn {
    position: relative;
    font-size: 1px;
    text-indent: -9999px;
    &::before {
      position: absolute;
      top: -9px;
      right: 3px;
      display: inline-block;
      content: "";
      background-image: url(../../images/icons/search_icon.svg);
      background-repeat: no-repeat;
      background-size: cover;
      width: 30px;
      height: 30px;
    }
  }
}

// 제품 순위 리스트
.ui-dropdown.move-list {
  position: relative;
  height: 23px;
  width: 200px;
  overflow: hidden;
  vertical-align: -5px;
  &:hover {
    overflow: visible;
    .ranking-product {
      animation: none;
    }
  }
  .ranking-product {
    position: absolute;
    top: 23px;
    display: inline-block;
    animation: moveTop 40s infinite;
    .ranking-item {
      margin: 5px 0;
      em {
        @include font-module(13px, 700);
        vertical-align: 3px;
      }
      .link-item{
        @include font-module(13px, $color: $gray-font);
        margin-left: 10px;
      }
    }
  }
}
@keyframes moveTop {
    0% {transform: translateY(0);}
    5% {transform: translateY(-5%);}
    10% {transform: translateY(-10%);}
    15% {transform: translateY(-15%);}
    20% {transform: translateY(-20%);}
    25% {transform: translateY(-25%);}
    30% {transform: translateY(-30%);}
    35% {transform: translateY(-35%);}
    40% {transform: translateY(-40%);}
    45% {transform: translateY(-45%);}
    50% {transform: translateY(-50%);}
    55% {transform: translateY(-55%);}
    60% {transform: translateY(-60%);}
    65% {transform: translateY(-65%);}
    70% {transform: translateY(-70%);}
    75% {transform: translateY(-75%);}
    80% {transform: translateY(-80%);}
    85% {transform: translateY(-85%);}
    90% {transform: translateY(-90%);} 
    95% {transform: translateY(-95%);} 
    100% {transform: translateY(-100%);}
}


// ranking hover show
.ui-dropdown:hover .hide-ranking {
  display: block
}

.hide-ranking {
  @include border-module(1px, $line-division, 5px);
  display: none;
  top: -8px;
  padding: 15px 15px;
  width: 300px;
  &::before,
  &::after {
    display: none;
  }
  .btn-wrap {
    position: relative;
    border: 1px solid $line-division;
    margin-bottom: 15px;
    [class^="btn"] {
      @include font-module(12px, 700, $color:$gray-font);
      background-color: $gray-bgc;
      padding: 6px;
      width: 50%;
      // ranking button togle on
      &.on {
        background-color: #fff;
        color: black;
      }
    }
    // 상승 image
    .btn-realtime::before {
      display: inline-block;
      content: "";
      background-image: url("../../images/icons/trending_up_icon_on.svg");
      background-repeat: no-repeat;
      background-size: contain;
      width: 20px;
      height: 16px;
      vertical-align: -4px;
    }
    // ranking button togle on
    .btn-realtime.on::before {
      background-image: url("../../images/icons/trending_up_icon_off.svg");
    }
    // line-break
    button + button {
      border-left: 1px solid $line-division;
    }
  }
}

.realtime-list,
.popular-list {
  display: none;
  .keyword-item {
    float: left;
    width: 50%;
    height: 100%;
  }
}

// ranking button togle
.realtime-list.on,
.popular-list.on {
  position: relative;
  display: block;
  overflow: auto;
  // line break
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    width: 1px;
    height: 100%;
    background-color: $line-division;
  }
  .keyword-item {
    position: relative;
    color: $light-gray-font;
    padding: 5px 0;
    &:nth-child(even) {
      padding-left: 15px;
    }
    em {
      display: inline-block;
      width: 14px;
    }
    .keyword {
      @include font-module(12px, $color:$gray-font);
      margin-left: 6px;
      &:hover {
        color: $orange-font;
      }
    }
  }
}

// ranking up, down and still
.up::after {
  content: "";
  display: inline-block;
  @include triangle(5px, #ff4b50, up);
  position: absolute;
  top: 6px;
  right: 17px;
}
.down::after {
  content: "";
  display: inline-block;
  @include triangle(5px, #3c7de6, down);
  position: absolute;
  top: 12px;
  right: 17px;
}
.keep::after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 2px;
  background-color: $light-gray-font;
  position: absolute;
  top: 10px;
  right: 18px;
}

// 내정보, 장바구니
.wrap-profile {
  position: relative;
  bottom: -28px;
  float: right;
  & > * {
    @include font-module(10px, $color:$gray-font);
    margin-right: 20px;
  }
  [class^="link"]::before {
    position: absolute;
    top: -32px;
    display: block;
    content: "";
    background-size: cover;
    background-repeat: no-repeat;
    width: 33px;
    height: 33px;
  }
  .link-profile::before {
    background-image: url(../../images/icons/person_icon.svg);
    left: 0;
  }
  .link-myBasket::before {
    background-image: url(../../images/icons/shopping_basket_icon.svg);
    right: 23px;
  }
  .basket-count {
    @include font-module(12px, $height:20px, $color:#fff);
    position: absolute;
    top: -31px;
    right: 15px;
    display: block;
    background-color: $orange-font;
    text-align: center;
    width: 18px;
    height: 18px;
    border-radius: 100%;
  }
}

// 전역 네이게이션 바
// fixed은 js로 구현
.gnb-fixed {
  position: fixed;
  top: -1px;
  z-index: 200;
  background-color: #fff;
  width: 100vw;
}
.gnb {
  nav {
    position: relative;
    z-index: 30;
    width: 100%;
    box-shadow: 0 4px 2px -1px rgba(0,0,0,0.2);
    .nav-wrap {
      width: 1000px;
      display: flex;
      justify-content: center;
      margin: 0 auto;
      .btn-gnb {
        @include font-module(13px, $color:$gray-font);
        display: inline-block;
        padding: 10px 8px;
        &:hover {
          color: $orange-font;
        }
      }
      .on .btn-gnb {
        display: inline-block;
        color: $orange-font;
        border-bottom: 2px solid $orange-font;
      }
    }
  }
}

// hover시 카테고리 상세 
// show-ui class를 overiding하여 해당 요소에 맞게 위치 조정
.category-link {
  position: relative;
  &:hover .category-dropdown {
    display: flex;
  }
}

.category-dropdown {
  display: none;
  border-color: $line-division;
  width: 800px;
  padding: 20px 0;
  top: 34px;
  left: -66px;
  &::before,
  &::after {
    left: 98px;
  }
  &::before {
    border-bottom-color: $line-division;
  }
  ul + ul {
    border-left: 1px solid $line-division;
  }
  .category {
    padding: 0 13px;
    width: 25%;
    li {
      position: relative;
      width: 100%;
      padding: 2px 10px;
      &:hover {
        background-color: #FAECE5;
        &::after {
          display: inline-block;
          content: "";
          position: absolute;
          top: 4px;
          right: 5px;
          width: 12px;
          height: 12px;
          background-image: url("../../images/icons/next_icon_gray.svg");
          background-repeat: no-repeat;
          background-size: cover;
        }
      }
      a {
        display: block;
        width: 100%;
      }
    }
    li + li {
      margin-top: 10px;
    }
  }
}

@media screen and (max-width: 719px) {
  .advertisement,
  .inner-top-search,
  .top-navigation {
    display: none;
  }
  [class$="mobile"] {
    display: block;
  }

  .advertisement-mobile {
    background-color: #000;
    position: relative;
    .inner {
      text-align: center;
      img {
        width: 320px;
      }
    }
    .btn-closeAd {
      text-indent: -9999px;
      &::after {
        content: "";
        position: absolute;
        top: 27px;
        right: 20px;
        background-color: #fff;
        background-image: url(../../images/icons/close_icon.svg);
        background-position: center;
        background-size: 12px;
        background-repeat: no-repeat;
        border-radius: 100%;
        width: 15px;
        height: 15px;
      }
    }
  }

  .inner-top-search-mobile {
    padding: 10px 0;

    .company-title {
      padding: 0 10px;
    }

    .search-form {
      width: calc(100% - 165px);
      margin: 0;
      .search-text {
        width: calc(100% - 20px);
      }
      .search-btn::before {
          right: -9px;
        }
    }

    .link-myBasket::before {
      top: -26px;
    }
    .basket-count {
      top: -27px;
    }
  }
  
  .gnb {
    position: relative;
    nav .nav-wrap {
      justify-content: left;
      .category-link .btn-gnb {
        display: none;
      } 
    }
    .show-category-btn {
      position: absolute;
      z-index: 100;
      top: -1px;
      right: 0;
      width: 39px;
      height: 39px;
      border: 1px solid $line-division;
      background-color: #fff;
      background-image: url(../../images/icons/arrow-bottom.svg);
      background-repeat: no-repeat;
      background-size: cover;
      transition: .5s;
    }
    // .hide-category {
    //   @include font-module(16px, $color:$gray-font);
    //   position: absolute;
    //   text-align: center;
    //   top: 0;
    //   bottom: 0;
    //   .category-wrap {
    //     position: absolute;
    //     bottom: -20px;

    //   }
    // }
  }
}