/* main module list */

/* header module */
a {
  color: inherit;
}

.product-list__header {
  padding: 40px 0 4px;
  margin-bottom: 24px;
  border-bottom: $base-border;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .product-list__title {
    font-size: 20px;
    font-weight: 700;
  }
  .product-list__control {
    position: relative;
    display: flex;
    align-items: center;
    .product-list__location {
      position: relative;
      top: 1px;
      display: flex;
      font-size: 14px;
      margin: 0 16px;
      color: #999999;
      .current {
        font-weight: bold;
        color: #333333;
      }
    }
    .product-list__arrowBtn {
      width: 24px;
      height: 24px;
      background: #ffffff;
      border: $base-border;
      border-radius: 2px;
      &:active {
        @include focus-outline;
      }
      .fa-chevron-left,
      .fa-chevron-right {
        font-weight: bold;
        color: #9b9b9b;
        font-size: 10px;
        line-height: 16px;
      }
    }
  }
}

.item {
  overflow: hidden;
  transition: all .2s ease-in-out;
  &:hover {
    box-shadow: 2px 1px 23px -10px rgba(0,0,0,0.75);
  }
  .item__thumb {
    position: relative;
    .item__welcome-badge {
      width: 51px;
        height: 51px;
        position: absolute;
        left: 0;
        top: 0;
    }
    .item__main-img {
      width: 100%;
      height: auto;
    }
    .item__heart {
      position: absolute;
      right: 8px;
      top: 8px;
      width: 24px;
      height: 24px;
      background: url('../images/image/sp-icon_1634026706070.png');
      background-position: -689px -469px;
      &:active {
        @include focus-outline;
      }
    }
  }
  .item__info {
    padding: 12px 8px;
    height: 204px;
    .item__maker-name {
      font-size: 12px;
      color: #999999;
      height: 15px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .item__name {
      max-height: 35.88px;
      font-size: 13px;
      line-height: 1.38;
      margin: 4px 0 8px 0;
      color: #333333;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: normal;
    }
    .item__price {
      font-size: 15px;
      font-weight: bold;
      line-height: 1;
      color: #333333;
      .sale-rate {
        color: #ff4b50;
      }
      .price-origin {
        font-size: 11px;
        font-weight: normal;
        color: #999999;
        line-height: 1.36;
        margin-top: 4px;
      }
    }
    .item__badges {
      margin-top: 12px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      .item__badge {
        padding: 5px 6px 4px;
        height: 20px;
        font-size: 11px;
        font-weight: bold;
        border-radius: 2px;
        line-height: 1;
        background-color: #333333;
        color: #ffffff;
        margin-right: 4px;
        &.badge--food {
          background-color: #e2fae6;
          color: #39af4d;
        }
        &.badge--new {
          background-color: #fff4bb;
          color: #f7a100;
        }
      }
    }
    .item__review {
      margin-top: 12px;
      .review-rating {
        display: flex;
        align-items: center;
        .review-stars {
          margin-bottom: 4px;
          display: flex;
          .icon-star {
            display: inline-block;
            color: #ffc500;
            font-size: 11px;
          }
        }
        .review-count {
          font-size: 11px;
          color: #666666;
          line-height: 1;
          margin-left: 4px;
          margin-bottom: 2px;
        }
      }
    }
    .review-comment {
      display: flex;
      align-items: center;
      white-space: nowrap;
      margin-top: 4px;
      .review-comment__badge {
        font-size: 10px;
        font-weight: bold;
        border-radius: 7px;
        color: #999999;
        background-color: #f5f5f5;
        padding: 2px 6px;
        margin-right: 4px;
        line-height: 1;
      }
      .review-comment__content {
        color: #666666;
        font-size: 11px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        line-height: 1.1;
      } 
    }
  }
  &.item--sm {
    background: #f8f9fb;
    border-radius: 4px;
    border: $base-border;
    font-size: 12px;
    box-shadow: 0 1px 3px 0 #dcdcdc4d;
    overflow: hidden;
    .item__welcome-badge {
      display: none;
    }
    .item__info {
      padding: 8px 10px;
      height: 96px;
      text-align: left;
    }
    .item__review {
      padding: 6px 10px 0 10px;
      border-top: $base-border;
      height: 56px;
      width: 100%;
      text-align: left;
      .review-rating {
        display: flex;
        .review-stars {
          display: flex;
          margin-bottom: 4px;
          .icon-star {
            display: inline-block;
            color: #ffc500;
            font-size: 15px;
            margin-right: 3px;
          }
        }
        .review-count {
          font-size: 11px;
          color: #666666;
          line-height: 1;
          margin-left: 4px;
          margin-bottom: 2px;
        }
      }
    }
    .review-comment {
      color: #666666;
      height: 18px;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-top: 10px;
    }
  }
  &.item-selected {
    .item__heart {
      background-position: -689px -430px;
    }
    .item__thumb {
      overflow: hidden;
      .item__main-img {
        transition: all 0.3s ease-in-out;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}

.product-list__showMoreBtn {
  margin: 24px auto 0;
  display: block;
  width: 400px;
  font-size: 16px;
  padding: 0 24px;
  line-height: 46px;
  box-shadow: 0 1px 3px 0 #dcdcdc4d;
  background: #ffffff;
  border: $base-border;
  border-radius: 2px;
  text-align: center;
  &:active {
    @include focus-outline;
  }
}
