.main-outer-li.display-off {
  display: none;
}

// 타이틀
.review {
  max-width: 1056px;
  width: 100%;
  margin: 0 auto;
  font-family: 'NanumBarunGothic', sans-serif;
  .section-tit {
  overflow: hidden;
  padding: 40px 0 4px 0;
  margin-bottom: $size-24;
  border-bottom: 1px solid $line-division;
    .review-tit-txt {
      float: left;
      font-size: $size-24;
      font-weight: $font-weight-bold;
    }
  }
}

/* ui 슬라이드 버튼 */
.section-tit .ui-pagination {
  float: right;
  display: flex;
  line-height: $size-24;
  .current-page-num {
    margin: 0 16px;
    color: dark-gray-font;
    .current-page {
    font-weight: $font-weight-bold;
    }
  }
}

.section-tit .btn-prev,
.section-tit .btn-next {
  display: inline-block;
  width: $size-24;
  height: $size-24;
  border: 1px solid $line-light-gray;
  border-radius: 2px;
  background: transparent;
  cursor: pointer;
  margin-bottom: 4px;
  color: $btn-color-gray;
}

.section-tit .btn-next {
  border-left: none;
}

/* 리뷰 메인 레이아웃*/
.review.main-inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  .content-card {
  display: flex;
  height: 207px;
  border: 1px solid $line-division;
  background: $bg-light-gray;
  border-radius: 4px;
  font-size: 12px;
  box-shadow: 0 1px 3px 0 #dcdcdc4d;
    .contetn-linkimg {
      display: block;
      width: 207px;
      overflow: hidden;
      img {
        width: 100%;
        height: 207px;
        object-fit: cover;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        transform: scale(1);
        transition: all .5s ease-in-out;
      }
      img:hover {
        transform: scale(1.07);
        transition: all .4s ease-in-out;
      }
    }
  }
}

// li 카드 이미지 정보
.review.main-inner .content-info {
    padding: 15px 20px; 
  .content-tit {
    display: inline-block;
    width: 271px;
    height: 21px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: $size-14;
    font-weight: $font-weight-bold;
    color: $dark-gray-font;
    line-height: 1.5;
  }
  .content-price-box {
    margin: 10px 0 20px;
  }
  .content-price-box {
    color: $light-gray-font;
    font-size: $size-11;
  }
  .content-txt {
    width: 271px;
    height: 80px;
    color: $gray-font;
    line-height: 1.5;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
  }
  .item-rating {
    display: flex;
    align-items: center;
    padding-top: $size-14;
    color: $light-gray-font;
    font-size: $size-14;
    span {
      position: relative;
      font-size: 13px;
      user-select: none;
      margin-left: 14px;
    }
    span::before {
      position: absolute;
      content: '';
      width: 1px;
      height: 13px;
      top: 1px;
      left: -6px;
      background-color: $light-gray-font;
    }
  }
}

.rationg-star i[data-state=active] {
  color: #ffc801;
}

// 실시간 후기 더보기 
.review .review-moretxt {
  display: block;
  width: 400px;
  margin: $size-24 auto 0;
  padding: 15px 0;
  border-radius: 2px;
  font-size: 16px;
  text-align: center;
  background: transparent;
  border: 1px solid $line-division;
  color: $dark-gray-font;
  cursor: pointer;
  box-shadow: 0 1px 3px 0 #dcdcdc4d;
}