@charset "UTF-8";
@font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 400;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix") format("embedded-opentype"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff") format("woff"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf") format("truetype");
}

@font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 700;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix") format("embedded-opentype"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff") format("woff"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf") format("truetype");
}

@font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 300;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix") format("embedded-opentype"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff") format("woff"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf") format("truetype");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 12px;
  font-family: 'NanumBarunGothic', sans-serif;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.ui-dropdown {
  display: inline-block;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

[class$="mobile"] {
  display: none;
}

.show-ui {
  border: 1px solid #000;
  border-radius: 4px;
  position: absolute;
  z-index: 100;
  background-color: #fff;
  padding: 25px;
  top: 0px;
}

.show-ui::before, .show-ui::after {
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-bottom-color: #fff;
  position: absolute;
  top: -16px;
  left: 75px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  content: "";
}

.show-ui::before {
  border-bottom: 8px solid #000;
  top: -17px;
}

.advertisement {
  background-color: #000;
}

.advertisement .inner {
  position: relative;
  width: 1000px;
  margin: 0 auto;
}

.advertisement .btn-closeAd {
  position: absolute;
  text-indent: -9999px;
}

.advertisement .btn-closeAd::after {
  display: block;
  content: "";
  position: absolute;
  top: 27px;
  right: 10%;
  background-color: #fff;
  background-image: url(../../images/icons/close_icon.svg);
  background-position: center;
  background-size: 12px;
  background-repeat: no-repeat;
  border-radius: 100%;
  width: 15px;
  height: 15px;
}

.top-navigation {
  background-color: #F5F5F5;
  height: 32px;
}

.inner-top-nav {
  position: relative;
  width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #666666;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.inner-top-nav [class^="btn"] {
  font-size: 12px;
  font-weight: 500;
  line-height: 9px;
  color: #666666;
  padding: 12px;
}

.inner-top-nav .ui-dropdown:hover .container-install,
.inner-top-nav .ui-dropdown:hover .customer-center {
  display: block;
}

.container-install {
  display: none;
  top: 32px;
}

.container-install .install-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 16px;
  color: #666666;
  border-bottom: 1px solid #000;
  padding-bottom: 8px;
  margin-bottom: 25px;
}

.container-install .install-title::before {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: none;
  background: url("../../images/image.png") -685px -141px no-repeat;
  content: "";
  vertical-align: -18px;
  margin-right: 4px;
}

.container-install ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container-install ol li:first-child {
  margin-right: 50px;
}

.container-install ol li strong {
  display: block;
  font-size: 12px;
}

.container-install ol li form #phone-value {
  padding: 3px 15px 3px 8px;
  font-size: 12px;
  margin: 10px 0;
}

.container-install ol li form .btn-submit {
  font-size: 12px;
  font-weight: 700;
  line-height: 17px;
  color: #fff;
  background-color: #FF7B30;
  border-radius: 2px;
  padding: 4px 10px;
}

.container-install ol li .error-msg {
  font-size: 10px;
  font-weight: 500;
  line-height: 16px;
  color: red;
  display: none;
  margin-bottom: 5px;
}

.container-install ol li p {
  font-size: 10px;
  width: 200px;
}

.container-install ol li img {
  width: 100px;
  vertical-align: top;
}

.register-wrap {
  position: relative;
}

.register-wrap .customer-center {
  display: none;
  padding: 5px;
  border-color: #D9D9D9;
  -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  right: -22px;
  top: 35px;
}

.register-wrap .customer-center::before, .register-wrap .customer-center::after {
  left: 50%;
}

.register-wrap .customer-center::before {
  border-bottom-color: #D9D9D9;
}

.register-wrap .customer-center li {
  margin: 8px;
  font-size: 12px;
  padding-right: 20px;
}

.register-wrap .customer-center li a {
  font-size: 11px;
}

.register-wrap .customer-center li a:hover {
  color: #FF7B30;
}

.search-header {
  border-bottom: 1px solid #D9D9D9;
}

.inner-top-search {
  position: relative;
  width: 1000px;
  margin: 0 auto;
  padding: 10px 0;
}

[class^="link"] {
  font-size: 18px;
  font-weight: 550;
  line-height: 16px;
  color: #666666;
  vertical-align: 4px;
}

.company-title {
  display: inline-block;
  padding: 0 27px;
}

.company-title .company-logo {
  width: 73px;
  vertical-align: -3px;
}

.wrap-serviceNav {
  display: inline-block;
}

.wrap-serviceNav > * {
  margin-right: 20px;
}

.wrap-serviceNav .link-product {
  color: #FF7B30;
}

.wrap-serviceNav .class-tip {
  font-size: 10px;
  font-weight: 500;
  line-height: 19px;
  color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#a527e7), to(#8c36ed));
  background-image: linear-gradient(to bottom, #a527e7, #8c36ed 100%);
  position: absolute;
  left: 150px;
  top: -18px;
  border-radius: 2px;
  padding: 3px 8px;
  -webkit-animation: vertical_move linear 4s infinite;
          animation: vertical_move linear 4s infinite;
}

@-webkit-keyframes vertical_move {
  0% {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
  }
  50% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
  100% {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
  }
}

@keyframes vertical_move {
  0% {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
  }
  50% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
  100% {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
  }
}

.wrap-serviceNav .class-tip::after {
  position: absolute;
  bottom: -4px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-top: 5px solid #8c36ed;
  border-bottom: 5px solid none;
  border-right: 5px solid transparent;
  border-left: 5px solid  transparent;
}

.search-form {
  border: 1px solid #FF7B30;
  border-radius: 5px;
  display: inline-block;
  vertical-align: 5px;
  padding: 8px 0 8px 8px;
  margin-right: 18px;
}

.search-form .search-text {
  border: none;
  font-size: 14px;
  width: 285px;
}

.search-form .search-text:focus {
  outline: none;
}

.search-form .search-text::-webkit-input-placeholder {
  color: #b4b4b4;
}

.search-form .search-text:-ms-input-placeholder {
  color: #b4b4b4;
}

.search-form .search-text::-ms-input-placeholder {
  color: #b4b4b4;
}

.search-form .search-text::placeholder {
  color: #b4b4b4;
}

.search-form .search-btn {
  position: relative;
  font-size: 1px;
  text-indent: -9999px;
}

.search-form .search-btn::before {
  position: absolute;
  top: -9px;
  right: 3px;
  display: inline-block;
  content: "";
  background-image: url(../../images/icons/search_icon.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 30px;
  height: 30px;
}

.ui-dropdown.move-list {
  position: relative;
  height: 23px;
  width: 200px;
  overflow: hidden;
  vertical-align: -5px;
}

.ui-dropdown.move-list:hover {
  overflow: visible;
}

.ui-dropdown.move-list:hover .ranking-product {
  -webkit-animation: none;
          animation: none;
}

.ui-dropdown.move-list .ranking-product {
  position: absolute;
  top: 23px;
  display: inline-block;
  -webkit-animation: moveTop 40s infinite;
          animation: moveTop 40s infinite;
}

.ui-dropdown.move-list .ranking-product .ranking-item {
  margin: 5px 0;
}

.ui-dropdown.move-list .ranking-product .ranking-item em {
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  color: black;
  vertical-align: 3px;
}

.ui-dropdown.move-list .ranking-product .ranking-item .link-item {
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  color: #666666;
  margin-left: 10px;
}

@-webkit-keyframes moveTop {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  5% {
    -webkit-transform: translateY(-5%);
            transform: translateY(-5%);
  }
  10% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  15% {
    -webkit-transform: translateY(-15%);
            transform: translateY(-15%);
  }
  20% {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
  }
  25% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
  30% {
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
  }
  35% {
    -webkit-transform: translateY(-35%);
            transform: translateY(-35%);
  }
  40% {
    -webkit-transform: translateY(-40%);
            transform: translateY(-40%);
  }
  45% {
    -webkit-transform: translateY(-45%);
            transform: translateY(-45%);
  }
  50% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  55% {
    -webkit-transform: translateY(-55%);
            transform: translateY(-55%);
  }
  60% {
    -webkit-transform: translateY(-60%);
            transform: translateY(-60%);
  }
  65% {
    -webkit-transform: translateY(-65%);
            transform: translateY(-65%);
  }
  70% {
    -webkit-transform: translateY(-70%);
            transform: translateY(-70%);
  }
  75% {
    -webkit-transform: translateY(-75%);
            transform: translateY(-75%);
  }
  80% {
    -webkit-transform: translateY(-80%);
            transform: translateY(-80%);
  }
  85% {
    -webkit-transform: translateY(-85%);
            transform: translateY(-85%);
  }
  90% {
    -webkit-transform: translateY(-90%);
            transform: translateY(-90%);
  }
  95% {
    -webkit-transform: translateY(-95%);
            transform: translateY(-95%);
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

@keyframes moveTop {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  5% {
    -webkit-transform: translateY(-5%);
            transform: translateY(-5%);
  }
  10% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  15% {
    -webkit-transform: translateY(-15%);
            transform: translateY(-15%);
  }
  20% {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
  }
  25% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
  30% {
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
  }
  35% {
    -webkit-transform: translateY(-35%);
            transform: translateY(-35%);
  }
  40% {
    -webkit-transform: translateY(-40%);
            transform: translateY(-40%);
  }
  45% {
    -webkit-transform: translateY(-45%);
            transform: translateY(-45%);
  }
  50% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  55% {
    -webkit-transform: translateY(-55%);
            transform: translateY(-55%);
  }
  60% {
    -webkit-transform: translateY(-60%);
            transform: translateY(-60%);
  }
  65% {
    -webkit-transform: translateY(-65%);
            transform: translateY(-65%);
  }
  70% {
    -webkit-transform: translateY(-70%);
            transform: translateY(-70%);
  }
  75% {
    -webkit-transform: translateY(-75%);
            transform: translateY(-75%);
  }
  80% {
    -webkit-transform: translateY(-80%);
            transform: translateY(-80%);
  }
  85% {
    -webkit-transform: translateY(-85%);
            transform: translateY(-85%);
  }
  90% {
    -webkit-transform: translateY(-90%);
            transform: translateY(-90%);
  }
  95% {
    -webkit-transform: translateY(-95%);
            transform: translateY(-95%);
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

.ui-dropdown:hover .hide-ranking {
  display: block;
}

.hide-ranking {
  border: 1px solid #D9D9D9;
  border-radius: 5px;
  display: none;
  top: -8px;
  padding: 15px 15px;
  width: 300px;
}

.hide-ranking::before, .hide-ranking::after {
  display: none;
}

.hide-ranking .btn-wrap {
  position: relative;
  border: 1px solid #D9D9D9;
  margin-bottom: 15px;
}

.hide-ranking .btn-wrap [class^="btn"] {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  color: #666666;
  background-color: #F5F5F5;
  padding: 6px;
  width: 50%;
}

.hide-ranking .btn-wrap [class^="btn"].on {
  background-color: #fff;
  color: black;
}

.hide-ranking .btn-wrap .btn-realtime::before {
  display: inline-block;
  content: "";
  background-image: url("../../images/icons/trending_up_icon_on.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 16px;
  vertical-align: -4px;
}

.hide-ranking .btn-wrap .btn-realtime.on::before {
  background-image: url("../../images/icons/trending_up_icon_off.svg");
}

.hide-ranking .btn-wrap button + button {
  border-left: 1px solid #D9D9D9;
}

.realtime-list,
.popular-list {
  display: none;
}

.realtime-list .keyword-item,
.popular-list .keyword-item {
  float: left;
  width: 50%;
  height: 100%;
}

.realtime-list.on,
.popular-list.on {
  position: relative;
  display: block;
  overflow: auto;
}

.realtime-list.on::after,
.popular-list.on::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  width: 1px;
  height: 100%;
  background-color: #D9D9D9;
}

.realtime-list.on .keyword-item,
.popular-list.on .keyword-item {
  position: relative;
  color: #999;
  padding: 5px 0;
}

.realtime-list.on .keyword-item:nth-child(even),
.popular-list.on .keyword-item:nth-child(even) {
  padding-left: 15px;
}

.realtime-list.on .keyword-item em,
.popular-list.on .keyword-item em {
  display: inline-block;
  width: 14px;
}

.realtime-list.on .keyword-item .keyword,
.popular-list.on .keyword-item .keyword {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  color: #666666;
  margin-left: 6px;
}

.realtime-list.on .keyword-item .keyword:hover,
.popular-list.on .keyword-item .keyword:hover {
  color: #FF7B30;
}

.up::after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-bottom-color: #ff4b50;
  position: absolute;
  top: 6px;
  right: 17px;
}

.down::after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top-color: #3c7de6;
  position: absolute;
  top: 12px;
  right: 17px;
}

.keep::after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 2px;
  background-color: #999;
  position: absolute;
  top: 10px;
  right: 18px;
}

.wrap-profile {
  position: relative;
  bottom: -28px;
  float: right;
}

.wrap-profile > * {
  font-size: 10px;
  font-weight: 500;
  line-height: 16px;
  color: #666666;
  margin-right: 20px;
}

.wrap-profile [class^="link"]::before {
  position: absolute;
  top: -32px;
  display: block;
  content: "";
  background-size: cover;
  background-repeat: no-repeat;
  width: 33px;
  height: 33px;
}

.wrap-profile .link-profile::before {
  background-image: url(../../images/icons/person_icon.svg);
  left: 0;
}

.wrap-profile .link-myBasket::before {
  background-image: url(../../images/icons/shopping_basket_icon.svg);
  right: 23px;
}

.wrap-profile .basket-count {
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  color: #fff;
  position: absolute;
  top: -31px;
  right: 15px;
  display: block;
  background-color: #FF7B30;
  text-align: center;
  width: 18px;
  height: 18px;
  border-radius: 100%;
}

.gnb-fixed {
  position: fixed;
  top: -1px;
  z-index: 200;
  background-color: #fff;
  width: 100vw;
}

.gnb nav {
  position: relative;
  z-index: 30;
  width: 100%;
  -webkit-box-shadow: 0 4px 2px -1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 2px -1px rgba(0, 0, 0, 0.2);
}

.gnb nav .nav-wrap {
  width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.gnb nav .nav-wrap .btn-gnb {
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  color: #666666;
  display: inline-block;
  padding: 10px 8px;
}

.gnb nav .nav-wrap .btn-gnb:hover {
  color: #FF7B30;
}

.gnb nav .nav-wrap .on .btn-gnb {
  display: inline-block;
  color: #FF7B30;
  border-bottom: 2px solid #FF7B30;
}

.category-link {
  position: relative;
}

.category-link:hover .category-dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.category-dropdown {
  display: none;
  border-color: #D9D9D9;
  width: 800px;
  padding: 20px 0;
  top: 34px;
  left: -66px;
}

.category-dropdown::before, .category-dropdown::after {
  left: 98px;
}

.category-dropdown::before {
  border-bottom-color: #D9D9D9;
}

.category-dropdown ul + ul {
  border-left: 1px solid #D9D9D9;
}

.category-dropdown .category {
  padding: 0 13px;
  width: 25%;
}

.category-dropdown .category li {
  position: relative;
  width: 100%;
  padding: 2px 10px;
}

.category-dropdown .category li:hover {
  background-color: #FAECE5;
}

.category-dropdown .category li:hover::after {
  display: inline-block;
  content: "";
  position: absolute;
  top: 4px;
  right: 5px;
  width: 12px;
  height: 12px;
  background-image: url("../../images/icons/next_icon_gray.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.category-dropdown .category li a {
  display: block;
  width: 100%;
}

.category-dropdown .category li + li {
  margin-top: 10px;
}

@media screen and (max-width: 719px) {
  .advertisement,
  .inner-top-search,
  .top-navigation {
    display: none;
  }
  [class$="mobile"] {
    display: block;
  }
  .advertisement-mobile {
    background-color: #000;
    position: relative;
  }
  .advertisement-mobile .inner {
    text-align: center;
  }
  .advertisement-mobile .inner img {
    width: 320px;
  }
  .advertisement-mobile .btn-closeAd {
    text-indent: -9999px;
  }
  .advertisement-mobile .btn-closeAd::after {
    content: "";
    position: absolute;
    top: 27px;
    right: 20px;
    background-color: #fff;
    background-image: url(../../images/icons/close_icon.svg);
    background-position: center;
    background-size: 12px;
    background-repeat: no-repeat;
    border-radius: 100%;
    width: 15px;
    height: 15px;
  }
  .inner-top-search-mobile {
    padding: 10px 0;
  }
  .inner-top-search-mobile .company-title {
    padding: 0 10px;
  }
  .inner-top-search-mobile .search-form {
    width: calc(100% - 165px);
    margin: 0;
  }
  .inner-top-search-mobile .search-form .search-text {
    width: calc(100% - 20px);
  }
  .inner-top-search-mobile .search-form .search-btn::before {
    right: -9px;
  }
  .inner-top-search-mobile .link-myBasket::before {
    top: -26px;
  }
  .inner-top-search-mobile .basket-count {
    top: -27px;
  }
  .gnb {
    position: relative;
  }
  .gnb nav .nav-wrap {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  .gnb nav .nav-wrap .category-link .btn-gnb {
    display: none;
  }
  .gnb .show-category-btn {
    position: absolute;
    z-index: 100;
    top: -1px;
    right: 0;
    width: 39px;
    height: 39px;
    border: 1px solid #D9D9D9;
    background-color: #fff;
    background-image: url(../../images/icons/arrow-bottom.svg);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transition: .5s;
    transition: .5s;
  }
}

.f-cont {
  text-align: center;
  border-top: 3px solid #ff7b30;
  border-bottom: 1px solid #acacac;
  margin-top: 50px;
}

.f-cont a {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0px;
  text-decoration: none;
  color: #666666;
  letter-spacing: -.5px;
}

.f-cont a::after {
  content: '';
  float: right;
  background-color: black;
  width: 1px;
  height: 15px;
  margin: 0px 14px;
}

.f-cont .f-2 {
  font-weight: 700;
}

.f-cont .f-8::after {
  background-color: white;
}

.f-grid {
  display: -ms-grid;
  display: grid;
  width: 1000px;
  margin: 30px auto 50px;
      grid-template-areas: 'grid1 grid2 grid3 grid4' 'grid1 grid5 grid6 grid7';
  -ms-grid-columns: 150px 330px 300px 220px;
      grid-template-columns: 150px 330px 300px 220px;
  -ms-grid-rows: 200px 120px;
      grid-template-rows: 200px 120px;
  row-gap: 0px;
  -webkit-column-gap: 0px;
          column-gap: 0px;
  padding: 0px;
  color: #666666;
}

.f-grid .f-grid-1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: grid1;
  border: none;
  padding: 0px;
}

.f-grid .f-grid-1 .image {
  display: inline-block;
  width: 100px;
  height: 50px;
  border: none;
  background: url("../../images/image.png") -387px -398px no-repeat;
}

.f-grid .f-grid-2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: grid2;
  border: none;
  padding: 0px;
}

.f-grid .f-grid-2 .p1 {
  font-weight: bold;
  display: inline-block;
  margin-bottom: 10px;
}

.f-grid .f-grid-2 .p2 {
  display: inline-block;
  margin-top: 15px;
  font-size: 10px;
}

.f-grid .f-grid-2 .p3 {
  font-size: 10px;
}

.f-grid .f-grid-2 .p4 {
  font-size: 10px;
  margin-top: 10px;
}

.f-grid .f-grid-2 p > button {
  margin-right: 70px;
  font-size: 10px;
  border: 1px solid grey;
  width: 80px;
  height: 18px;
  border-radius: 3px;
  float: right;
}

.f-grid .f-grid-3 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: grid3;
  border: none;
  padding: 0px;
}

.f-grid .f-grid-3 strong {
  font-weight: bold;
  margin-bottom: 10px;
  display: inline-block;
}

.f-grid .f-grid-3 .p5 {
  font-size: 10px;
}

.f-grid .f-grid-3 ul > li > a {
  text-decoration: underline;
}

.f-grid .f-grid-3 ul > li > span {
  display: inline-block;
  width: 60px;
}

.f-grid .f-grid-3 .p6 {
  font-size: 10px;
}

.f-grid .f-grid-3 .p7 {
  display: inline-block;
  margin-top: 10px;
}

.f-grid .f-grid-4 {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: grid4;
  border: none;
  padding: 0px;
  font-weight: bold;
}

.f-grid .f-grid-4 div {
  padding: 0px;
  border: none;
}

.f-grid .f-grid-4 div .facebook {
  display: inline-block;
  width: 36px;
  height: 36px;
  border: none;
  background: url("../../images/image.png") -457px -489px no-repeat;
  margin-top: 10px;
  margin-right: 5px;
}

.f-grid .f-grid-4 div .instagram {
  display: inline-block;
  width: 36px;
  height: 36px;
  border: none;
  background: url("../../images/image.png") -508px -489px no-repeat;
  margin-right: 5px;
}

.f-grid .f-grid-4 div .naverblog {
  display: inline-block;
  width: 36px;
  height: 36px;
  border: none;
  background: url("../../images/image.png") -401px -263px no-repeat;
  margin-right: 5px;
}

.f-grid .f-grid-4 div .naverpost {
  display: inline-block;
  width: 36px;
  height: 36px;
  border: none;
  background: url("../../images/image.png") -552px -564px no-repeat;
  margin-right: 5px;
}

.f-grid .f-grid-4 div .twitter {
  display: inline-block;
  width: 36px;
  height: 36px;
  border: none;
  background: url("../../images/image.png") -200px -627px no-repeat;
}

.f-grid .f-grid-4 div .image1 {
  display: inline-block;
  width: 90px;
  height: 55px;
  border: none;
  background: url("../../images/image.png") -206px -140px no-repeat;
  margin-top: 30px;
}

.f-grid .f-grid-4 div .image2 {
  display: inline-block;
  width: 70px;
  height: 55px;
  border: none;
  background: url("../../images/image.png") -1px -493px no-repeat;
}

.f-grid .f-grid-5 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: grid5;
  border: none;
  border-top: #acacac 1px solid;
  padding: 0px;
  padding-top: 20px;
  font-size: 10px;
}

.f-grid .f-grid-5 .image {
  display: inline-block;
  width: 35px;
  height: 33px;
  border: none;
  background: url("../../images/image.png") -613px -399px no-repeat;
  float: left;
  margin-right: 10px;
}

.f-grid .f-grid-6 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: grid6;
  border: none;
  border-top: #acacac 1px solid;
  padding: 0px;
  padding-top: 20px;
  font-size: 10px;
}

.f-grid .f-grid-6 .image {
  display: inline-block;
  width: 36px;
  height: 33px;
  border: none;
  background: url("../../images/image.png") -606px -513px no-repeat;
  float: left;
  margin-right: 10px;
}

.f-grid .f-grid-6 button {
  margin-right: 70px;
  font-size: 10px;
  border: 1px solid grey;
  width: 80px;
  height: 18px;
  border-radius: 3px;
}

.f-grid .f-grid-7 {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: grid7;
  border: none;
  border-top: #acacac 1px solid;
  padding: 0px;
  padding-top: 20px;
}

.f-grid div {
  padding: 10px;
  border: rgba(0, 0, 0, 0.1) 1px solid;
}

.bottom-fixed {
  display: none;
}

.container-banner {
  overflow: hidden;
  position: relative;
}

.banner-wrap {
  width: 100000px;
}

.banner-wrap .showroom-banner {
  display: none;
  position: relative;
  float: left;
  width: 100vw;
  height: 480px;
  background-color: #b39272;
}

.banner-wrap .showroom-banner .link-banner {
  display: block;
  height: 100%;
  width: 100%;
}

.banner-wrap .showroom-banner .link-banner .banner-img {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 1920px;
  height: 100%;
}

.banner-wrap .showroom-banner.list-item {
  display: block;
}

.ui-control .btn-slice {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 1px;
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 25px;
  height: 25px;
}

.ui-control .btn-slice.prev {
  background-image: url(../../images/icons/prev_icon.svg);
  right: 50%;
  margin-right: 530px;
}

.ui-control .btn-slice.next {
  background-image: url(../../images/icons/next_icon.svg);
  left: 50%;
  margin-left: 530px;
}

.ui-control .slice-numbers {
  position: absolute;
  bottom: 20px;
  right: 50%;
  background-color: #00000080;
  color: #ccc;
  border-radius: 15px;
  margin-right: -500px;
  padding: 2px 11px;
}

.ui-control .slice-numbers .curr_num {
  color: #fff;
}

@media screen and (max-width: 720px) {
  [class$="mobile"] {
    display: block;
  }
  .container-banner .showroom-banner {
    height: 275px;
  }
  .container-banner .showroom-banner .banner-img.mobile {
    width: 100%;
  }
  .container-banner .slice-numbers {
    right: 2%;
    margin: 0;
  }
}

.product-list {
  width: 1056px;
  margin: 0 auto;
}

.product-list.product-list__welcome-deal .item-list {
  display: -ms-grid;
  display: grid;
  grid: repeat(2, 1fr)/repeat(4, 1fr);
  gap: 15px;
}

.product-list.product-list__relate-product .item-list {
  display: -ms-grid;
  display: grid;
  grid: repeat(2, 1fr)/repeat(5, 1fr);
  gap: 15px;
}

.move-top {
  position: fixed;
  bottom: 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: calc(45% - 558px);
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  opacity: .9;
}

.move-top img {
  width: 36px;
}

/* main module list */
/* header module */
a {
  color: inherit;
}

.product-list__header {
  padding: 40px 0 4px;
  margin-bottom: 24px;
  border-bottom: 1px solid #d9d9d9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-list__header .product-list__title {
  font-size: 20px;
  font-weight: 700;
}

.product-list__header .product-list__control {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-list__header .product-list__control .product-list__location {
  position: relative;
  top: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  margin: 0 16px;
  color: #999999;
}

.product-list__header .product-list__control .product-list__location .current {
  font-weight: bold;
  color: #333333;
}

.product-list__header .product-list__control .product-list__arrowBtn {
  width: 24px;
  height: 24px;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
}

.product-list__header .product-list__control .product-list__arrowBtn:active {
  outline: 2px solid #015ECC;
  z-index: 10;
}

.product-list__header .product-list__control .product-list__arrowBtn .fa-chevron-left,
.product-list__header .product-list__control .product-list__arrowBtn .fa-chevron-right {
  font-weight: bold;
  color: #9b9b9b;
  font-size: 10px;
  line-height: 16px;
}

.item {
  overflow: hidden;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.item:hover {
  -webkit-box-shadow: 2px 1px 23px -10px rgba(0, 0, 0, 0.75);
          box-shadow: 2px 1px 23px -10px rgba(0, 0, 0, 0.75);
}

.item .item__thumb {
  position: relative;
}

.item .item__thumb .item__welcome-badge {
  width: 51px;
  height: 51px;
  position: absolute;
  left: 0;
  top: 0;
}

.item .item__thumb .item__main-img {
  width: 100%;
  height: auto;
}

.item .item__thumb .item__heart {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 24px;
  height: 24px;
  background: url("../../images/image/sp-icon_1634026706070.png");
  background-position: -689px -469px;
}

.item .item__thumb .item__heart:active {
  outline: 2px solid #015ECC;
  z-index: 10;
}

.item .item__info {
  padding: 12px 8px;
  height: 204px;
}

.item .item__info .item__maker-name {
  font-size: 12px;
  color: #999999;
  height: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.item .item__info .item__name {
  max-height: 35.88px;
  font-size: 13px;
  line-height: 1.38;
  margin: 4px 0 8px 0;
  color: #333333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.item .item__info .item__price {
  font-size: 15px;
  font-weight: bold;
  line-height: 1;
  color: #333333;
}

.item .item__info .item__price .sale-rate {
  color: #ff4b50;
}

.item .item__info .item__price .price-origin {
  font-size: 11px;
  font-weight: normal;
  color: #999999;
  line-height: 1.36;
  margin-top: 4px;
}

.item .item__info .item__badges {
  margin-top: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.item .item__info .item__badges .item__badge {
  padding: 5px 6px 4px;
  height: 20px;
  font-size: 11px;
  font-weight: bold;
  border-radius: 2px;
  line-height: 1;
  background-color: #333333;
  color: #ffffff;
  margin-right: 4px;
}

.item .item__info .item__badges .item__badge.badge--food {
  background-color: #e2fae6;
  color: #39af4d;
}

.item .item__info .item__badges .item__badge.badge--new {
  background-color: #fff4bb;
  color: #f7a100;
}

.item .item__info .item__review {
  margin-top: 12px;
}

.item .item__info .item__review .review-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item .item__info .item__review .review-rating .review-stars {
  margin-bottom: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item .item__info .item__review .review-rating .review-stars .icon-star {
  display: inline-block;
  color: #ffc500;
  font-size: 11px;
}

.item .item__info .item__review .review-rating .review-count {
  font-size: 11px;
  color: #666666;
  line-height: 1;
  margin-left: 4px;
  margin-bottom: 2px;
}

.item .item__info .review-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  margin-top: 4px;
}

.item .item__info .review-comment .review-comment__badge {
  font-size: 10px;
  font-weight: bold;
  border-radius: 7px;
  color: #999999;
  background-color: #f5f5f5;
  padding: 2px 6px;
  margin-right: 4px;
  line-height: 1;
}

.item .item__info .review-comment .review-comment__content {
  color: #666666;
  font-size: 11px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.1;
}

.item.item--sm {
  background: #f8f9fb;
  border-radius: 4px;
  border: 1px solid #d9d9d9;
  font-size: 12px;
  -webkit-box-shadow: 0 1px 3px 0 #dcdcdc4d;
          box-shadow: 0 1px 3px 0 #dcdcdc4d;
  overflow: hidden;
}

.item.item--sm .item__welcome-badge {
  display: none;
}

.item.item--sm .item__info {
  padding: 8px 10px;
  height: 96px;
  text-align: left;
}

.item.item--sm .item__review {
  padding: 6px 10px 0 10px;
  border-top: 1px solid #d9d9d9;
  height: 56px;
  width: 100%;
  text-align: left;
}

.item.item--sm .item__review .review-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item.item--sm .item__review .review-rating .review-stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 4px;
}

.item.item--sm .item__review .review-rating .review-stars .icon-star {
  display: inline-block;
  color: #ffc500;
  font-size: 15px;
  margin-right: 3px;
}

.item.item--sm .item__review .review-rating .review-count {
  font-size: 11px;
  color: #666666;
  line-height: 1;
  margin-left: 4px;
  margin-bottom: 2px;
}

.item.item--sm .review-comment {
  color: #666666;
  height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 10px;
}

.item.item-selected .item__heart {
  background-position: -689px -430px;
}

.item.item-selected .item__thumb {
  overflow: hidden;
}

.item.item-selected .item__thumb .item__main-img {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.item.item-selected .item__thumb .item__main-img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.product-list__showMoreBtn {
  margin: 24px auto 0;
  display: block;
  width: 400px;
  font-size: 16px;
  padding: 0 24px;
  line-height: 46px;
  -webkit-box-shadow: 0 1px 3px 0 #dcdcdc4d;
          box-shadow: 0 1px 3px 0 #dcdcdc4d;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  text-align: center;
}

.product-list__showMoreBtn:active {
  outline: 2px solid #015ECC;
  z-index: 10;
}

.main-outer-li.display-off {
  display: none;
}

.review {
  max-width: 1056px;
  width: 100%;
  margin: 0 auto;
  font-family: 'NanumBarunGothic', sans-serif;
}

.review .section-tit {
  overflow: hidden;
  padding: 40px 0 4px 0;
  margin-bottom: 24px;
  border-bottom: 1px solid #D9D9D9;
}

.review .section-tit .review-tit-txt {
  float: left;
  font-size: 24px;
  font-weight: 700;
}

/* ui 슬라이드 버튼 */
.section-tit .ui-pagination {
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 24px;
}

.section-tit .ui-pagination .current-page-num {
  margin: 0 16px;
  color: dark-gray-font;
}

.section-tit .ui-pagination .current-page-num .current-page {
  font-weight: 700;
}

.section-tit .btn-prev,
.section-tit .btn-next {
  display: inline-block;
  width: 24px;
  height: 24px;
  border: 1px solid #dedede;
  border-radius: 2px;
  background: transparent;
  cursor: pointer;
  margin-bottom: 4px;
  color: #9999;
}

.section-tit .btn-next {
  border-left: none;
}

/* 리뷰 메인 레이아웃*/
.review.main-inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.review.main-inner .content-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 207px;
  border: 1px solid #D9D9D9;
  background: #f8f9fb;
  border-radius: 4px;
  font-size: 12px;
  -webkit-box-shadow: 0 1px 3px 0 #dcdcdc4d;
          box-shadow: 0 1px 3px 0 #dcdcdc4d;
}

.review.main-inner .content-card .contetn-linkimg {
  display: block;
  width: 207px;
  overflow: hidden;
}

.review.main-inner .content-card .contetn-linkimg img {
  width: 100%;
  height: 207px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.review.main-inner .content-card .contetn-linkimg img:hover {
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.review.main-inner .content-info {
  padding: 15px 20px;
}

.review.main-inner .content-info .content-tit {
  display: inline-block;
  width: 271px;
  height: 21px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  font-weight: 700;
  color: #333;
  line-height: 1.5;
}

.review.main-inner .content-info .content-price-box {
  margin: 10px 0 10px;
}

.review.main-inner .content-info .content-price-box {
  color: #999;
  font-size: 11px;
}

.review.main-inner .content-info .content-txt {
  width: 271px;
  height: 80px;
  color: #666666;
  line-height: 1.5;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 13px;
}

.review.main-inner .content-info .item-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 14px;
  color: #999;
  font-size: 14px;
}

.review.main-inner .content-info .item-rating span {
  position: relative;
  font-size: 13px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-left: 14px;
}

.review.main-inner .content-info .item-rating span::before {
  position: absolute;
  content: '';
  width: 1px;
  height: 13px;
  top: 1px;
  left: -6px;
  background-color: #999;
}

.rationg-star i[data-state=active] {
  color: #ffc801;
}

.review .review-moretxt {
  display: block;
  width: 400px;
  margin: 24px auto 0;
  padding: 15px 0;
  border-radius: 2px;
  font-size: 16px;
  text-align: center;
  background: transparent;
  border: 1px solid #D9D9D9;
  color: #333;
  cursor: pointer;
  -webkit-box-shadow: 0 1px 3px 0 #dcdcdc4d;
          box-shadow: 0 1px 3px 0 #dcdcdc4d;
}

@media all and (max-width: 719px) {
  .move-top {
    bottom: 62px;
    right: 12px;
    -webkit-box-shadow: none;
            box-shadow: none;
    background-color: white;
    opacity: 0.9;
    z-index: 20;
  }
  .f-cont {
    text-align: left;
    padding-left: 12px;
    padding-top: 4px auto;
  }
  .f-cont a {
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .f-cont .f-4 {
    display: none;
  }
  .f-cont .f-5 {
    display: none;
  }
  .f-cont .f-6 {
    display: none;
  }
  .f-cont .f-8 {
    display: none;
  }
  .f-cont .f-7::after {
    background-color: white;
  }
  .f-grid {
    width: 100vw;
        grid-template-areas: 'grid2 grid2 grid2 grid2' 'grid2 grid2 grid2 grid2';
    -ms-grid-columns: 100vw 0 0 0;
        grid-template-columns: 100vw 0 0 0;
    -ms-grid-rows: 180px 0px;
        grid-template-rows: 180px 0px;
    background-color: whitesmoke;
    color: #666666;
    margin-top: 0px;
    margin-bottom: 53px;
  }
  .f-grid button {
    display: none;
  }
  .f-grid .f-grid-1 {
    display: none;
  }
  .f-grid .f-grid-2 {
    padding: 10px;
  }
  .f-grid .f-grid-3 {
    display: none;
  }
  .f-grid .f-grid-4 {
    display: none;
  }
  .f-grid .f-grid-5 {
    display: none;
  }
  .f-grid .f-grid-6 {
    display: none;
  }
  .f-grid .f-grid-7 {
    display: none;
  }
  .f-grid .f-grid-8 {
    display: none;
  }
  .bottom-fixed {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    position: fixed;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    bottom: 0px;
    right: 0px;
    width: 100vw;
    height: 53px;
    background-color: white;
    border-top: rgba(128, 128, 128, 0.428) solid 1px;
    z-index: 10;
  }
  .bottom-fixed .content1 {
    display: inline-block;
    width: 50px;
    height: 32px;
    border: none;
    background: url("../../images/image.png") -570px -624px no-repeat;
    text-align: center;
    padding-top: 35px;
    font-size: 12px;
  }
  .bottom-fixed .content2 {
    display: inline-block;
    width: 50px;
    height: 32px;
    border: none;
    background: url("../../images/image.png") -570px -624px no-repeat;
    text-align: center;
    padding-top: 35px;
    font-size: 12px;
  }
  .bottom-fixed .content3 {
    display: inline-block;
    width: 50px;
    height: 32px;
    border: none;
    background: url("../../images/image.png") -570px -624px no-repeat;
    text-align: center;
    padding-top: 35px;
    font-size: 12px;
  }
  .bottom-fixed .content4 {
    display: inline-block;
    width: 50px;
    height: 32px;
    border: none;
    background: url("../../images/image.png") -570px -624px no-repeat;
    text-align: center;
    padding-top: 35px;
    font-size: 12px;
  }
  .bottom-fixed .content5 {
    display: inline-block;
    width: 50px;
    height: 32px;
    border: none;
    background: url("../../images/image.png") -570px -624px no-repeat;
    text-align: center;
    padding-top: 35px;
    font-size: 12px;
  }
}
/*# sourceMappingURL=style.css.map */