@charset "UTF-8";
.구현사항 {
  max-width: 800px;
  margin: 0px auto;
  font-size: 14px;
  color: red;
  line-height: 1.4;
  padding: 15px;
  border-radius: 15px;
  background-color: rgba(255, 0, 0, 0.08);
}

.구현사항 strong {
  font-weight: bold;
  font-size: 20px;
}

.구현사항 span {
  font-weight: bold;
}

.컨테이너 {
  max-width: 800px;
  margin: 0px auto;
}

.header_desktop {
  overflow: hidden;
  margin: 50px 0px;
}

.header_desktop .타이틀 {
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
}

.header_desktop span {
  margin-top: 10px;
  float: right;
  font-weight: bold;
}

.header_desktop .float2 {
  margin-left: 7px;
  color: #d9d9d9;
  font-weight: bold;
}

.header_desktop .float3 {
  margin-left: 7px;
  color: #d9d9d9;
  font-weight: bold;
}

.header_phone {
  display: none;
}

article {
  border: #d9d9d9 solid 1px;
}

article .작품명 {
  padding: 21px 18px;
  font-weight: bold;
  font-size: 14px;
  background-color: #f5f5f5;
}

article .작품명 input {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

article .작품내용 .작품내용1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 21px 18px;
}

article .작품내용 .작품내용1 .작품사진 {
  min-width: 72px;
  height: 72px;
  margin-left: 8px;
  background: url(./곰돌이.png);
  background-size: 72px;
  border-radius: 3px;
}

article .작품내용 .작품내용1 .작품설명 {
  margin-left: 25px;
}

article .작품내용 .작품내용1 .작품설명 :first-child {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 8px;
}

article .작품내용 .작품내용1 .작품설명 :last-child {
  font-size: 12px;
  color: grey;
}

article .작품내용 .작품내용2 {
  padding: 0px 20px 0px 145px;
  overflow: hidden;
}

article .작품내용 .작품내용2 .작품내용2-1 {
  width: 70%;
  font-size: 12px;
  color: grey;
  line-height: 1.4;
  float: left;
}

article .작품내용 .작품내용2 .작품내용2-2 {
  font-size: 15px;
  float: right;
}

article .작품내용 .줄바꿈 {
  display: none;
}

article .작품내용 .작품내용3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 20px 20px 145px;
}

article .작품내용 .작품내용3 .작품내용3-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 3px;
}

article .작품내용 .작품내용3 .작품내용3-1 .minus {
  width: 24px;
  height: 24px;
  color: #666666;
  border: rgba(128, 128, 128, 0.5) 1px solid;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

article .작품내용 .작품내용3 .작품내용3-1 .quantity {
  width: 36px;
  height: 24px;
  border-top: rgba(128, 128, 128, 0.5) 1px solid;
  border-bottom: rgba(128, 128, 128, 0.5) 1px solid;
  text-align: center;
  line-height: 2;
  font-size: 10px;
}

article .작품내용 .작품내용3 .작품내용3-1 .plus {
  width: 24px;
  height: 24px;
  color: #666666;
  border: rgba(128, 128, 128, 0.5) 1px solid;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

article .작품내용 .작품내용3 .작품내용3-2 {
  right: 20px;
}

article .작품내용 .작품내용3 .작품내용3-2 .설정 {
  background: url(./설정.png);
  width: 36px;
  height: 28px;
}

article .작품내용 .작품내용3 .작품내용3-2 .닫기 {
  background: url(./닫기.png);
  width: 36px;
  height: 28px;
}

article .작품내용 .작품내용4 {
  padding: 10px 20px 20px 145px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

article .작품내용 .작품내용4 textarea {
  width: 85%;
  color: grey;
  padding-top: 10px;
  text-indent: 5px;
  font-size: 12px;
  border: rgba(128, 128, 128, 0.5) 1px solid;
  border-radius: 3px;
}

article .작품내용 .작품내용4 textarea:focus {
  margin-bottom: 30px;
}

article .작품내용 .작품내용4 textarea:focus ~ button {
  background-color: white;
  color: #FF7B30;
  font-weight: bold;
  border: #FF7B30 1px solid;
}

article .작품내용 .작품내용4 textarea:focus ~ div::after {
  content: '@ 입력 후 저장버튼을 눌러주세요';
  position: absolute;
  left: -545px;
  bottom: -75px;
  font-size: 12px;
  width: 300px;
  height: 100px;
}

article .작품내용 .작품내용4 .빈공간 {
  position: relative;
  width: 10px;
}

article .작품내용 .작품내용4 button {
  width: 65px;
  height: 70px;
  border-radius: 3px;
  background-color: #f2f2f2;
  border: #d9d9d9 1px solid;
  color: #d9d9d9;
}

article .작품가격 {
  padding: 21px 20px 21px 40px;
  border-top: 1px #d9d9d9 solid;
  border-bottom: 1px #d9d9d9 solid;
  font-size: 12px;
  color: #666666;
}

article .작품가격 .작품실제가격 {
  float: right;
  color: black;
  font-size: 14px;
  font-weight: bold;
}

article .작품배송비 {
  padding: 35px 20px 35px 40px;
  font-size: 12px;
  color: #666666;
}

article .작품배송비 .작품실제배송비 {
  float: right;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  color: black;
  font-size: 14px;
  font-weight: bold;
  text-align: right;
}

article .작품배송비 .작품실제배송비 span {
  font-size: 12px;
  font-weight: 100;
  color: #66666699;
}

main {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0px;
}

main .메인컨테이너1 {
  display: block;
  padding: 15px 0px;
  font-size: 12px;
  background-color: rgba(255, 255, 255, 0.8);
  overflow: hidden;
}

main .메인컨테이너1 input {
  background: white;
  -webkit-transform: translateY(7px);
          transform: translateY(7px);
}

main .메인컨테이너1 p {
  display: inline-block;
  font-size: 12px;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

main .메인컨테이너1 button {
  background: white;
  float: right;
  border: 1px solid #66666650;
  font-size: 12px;
  width: 80px;
  height: 32px;
  border-radius: 2px;
}

main .메인컨테이너2 {
  padding: 15px 25px;
  border: 1px solid black;
  border-radius: 5px;
  background: white;
}

main .메인컨테이너2 .메인컨테이너2-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 20px;
}

main .메인컨테이너2 .메인컨테이너2-1 div {
  text-align: center;
  font-size: 12px;
  color: grey;
}

main .메인컨테이너2 .메인컨테이너2-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 15px;
}

main .메인컨테이너2 .메인컨테이너2-2 div {
  text-align: center;
  font-size: 24px;
}

main .메인컨테이너2 .메인컨테이너2-2 div::after {
  content: '원';
  font-size: 16px;
}

main .메인컨테이너2 .메인컨테이너2-2 :nth-child(3) {
  color: #FF7B30;
}

main .주문하기 {
  background: white;
}

main .주문하기 button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 16px;
  width: 100%;
  max-width: 768px;
  height: 48px;
  border-radius: 3px;
  background-color: #FF7B30;
  color: white;
  font-size: 16px;
}

main .말풍선 {
  position: absolute;
  padding-top: 6px;
  top: 15px;
  left: 290px;
  width: 185px;
  height: 54px;
  background: #fff0b4F0;
  border: #ffd200 solid 1px;
  border-radius: 5px;
  font-size: 12px;
}

main .말풍선 p {
  display: inline-block;
  font-weight: bold;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

main .말풍선 span {
  font-size: 25px;
}

main .말풍선::after {
  content: '';
  position: absolute;
  top: 51px;
  left: 145px;
  border: 8px solid #FFF0B4;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
}

main .말풍선::before {
  content: '';
  position: absolute;
  top: 52px;
  left: 145px;
  border: 8px solid #FFD200;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
}

@media all and (max-width: 719px) {
  .header_desktop {
    display: none;
  }
  .header_phone {
    display: block;
    padding: 15px 0px;
    font-size: 12px;
    overflow: hidden;
    border-bottom: #66666650 1px solid;
    border-top: #66666650 1px solid;
  }
  .header_phone input {
    margin-left: 10px;
    -webkit-transform: translateY(7px);
            transform: translateY(7px);
  }
  .header_phone p {
    display: inline-block;
    font-size: 12px;
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  .header_phone button {
    float: right;
    border: 1px solid #66666650;
    font-size: 12px;
    width: 80px;
    height: 32px;
    border-radius: 2px;
    margin-right: 10px;
  }
  article {
    margin-top: 10px;
  }
  article .작품내용 .작품내용2 {
    padding-left: 63px;
  }
  article .작품내용 .작품내용3 {
    padding-left: 63px;
  }
  article .작품내용 .작품내용4 {
    padding-left: 63px;
  }
  main .말풍선 {
    left: 20vw;
  }
}
/*# sourceMappingURL=장바구니.css.map */