@font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 400;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix") format("embedded-opentype"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff") format("woff"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf") format("truetype");
}

@font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 700;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix") format("embedded-opentype"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff") format("woff"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf") format("truetype");
}

@font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 300;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix") format("embedded-opentype"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff") format("woff"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf") format("truetype");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'NanumBarunGothic', sans-serif;
}

.container {
  width: 384px;
  margin: 50px auto 200px;
}

.join-coupon {
  margin-top: 20px;
  margin-bottom: 50px;
}

.join-coupon .company-title {
  width: 100px;
  margin: 0 auto 10px;
}

.join-coupon .coupon-image {
  width: 380px;
}

.container-join {
  position: relative;
}

.container-join::before {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #666666;
  z-index: -10;
}

.join-title {
  font-size: 14px;
  font-weight: 500;
  line-height: 2px;
  color: #666666;
  background-color: #fff;
  text-align: center;
  width: 170px;
  margin: 0 auto 40px;
}

.join-process {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

.join-process .one::after {
  position: absolute;
  top: calc(50% - 1px);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  content: "";
  display: block;
  width: 80px;
  height: 1px;
  background-color: #999;
  z-index: -10;
}

.join-process .one,
.join-process .two {
  border: 1px solid #999;
  border-radius: 100%;
  font-size: 15px;
  font-weight: 500;
  line-height: 16px;
  color: #999;
  background-color: #fff;
  display: block;
  text-align: center;
  line-height: 32px;
  width: 30px;
  height: 30px;
  margin: 0 30px;
}

.join-process .one.on,
.join-process .two.on {
  background-color: #FF7B30;
  border-color: #FF7B30;
  color: #fff;
}

strong {
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  color: #000;
  display: block;
  text-align: center;
  margin-bottom: 30px;
}

form {
  margin: 30px 0;
}

.text-wrap {
  margin-bottom: 25px;
  font-size: 14px;
}

.text-wrap label {
  display: block;
  margin-top: 20px;
  cursor: pointer;
}

.text-wrap label[class="required"]::before {
  content: "*";
  display: inline-block;
  width: 11px;
  height: 11px;
  color: #FF7B30;
}

.text-wrap input {
  border: 1px solid #999;
  border-radius: 2px;
  display: block;
  width: 100%;
  height: 42px;
  margin: 8px 0;
  padding: 0 8px;
}

.text-wrap input.error {
  border: 1px solid red;
  border-radius: 2px;
}

.text-wrap #phone {
  width: 70%;
  display: inline-block;
}

.text-wrap .text-btn-wrap {
  padding: 8px 0;
}

.text-wrap .text-btn-wrap input {
  margin: 0;
}

.text-wrap .text-btn-wrap .phoneCheck-btn {
  border: 1px solid #FF7B30;
  border-radius: 2px;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  color: #fff;
  background-color: #FF7B30;
  width: 29%;
  height: 42px;
}

.check-wrap {
  font-size: 14px;
  margin-bottom: 20px;
}

.check-wrap li {
  margin: 5px 0;
}

.check-wrap li:first-child::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #000;
  margin: 10px 0 0;
}

.check-wrap li:last-child::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #000;
  margin-top: 10px;
}

.check-wrap li input {
  margin-right: 8px;
}

.check-wrap li input::before {
  border: 1px solid #999;
  border-radius: 2px;
  content: "";
  display: block;
  width: 13px;
  height: 13px;
  background-color: #fff;
}

.check-wrap li input:checked::before {
  background-image: url(../../images/icons/check_white_icon.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #FF7B30;
  border-color: #FF7B30;
}

.check-wrap li .agree-link {
  cursor: pointer;
  text-decoration: underline;
}

.check-wrap li .adText {
  color: #999;
}

.submit-btn {
  font-size: 16px;
  font-weight: 550;
  line-height: 16px;
  color: #fff;
  background-color: #FF7B30;
  width: 100%;
  height: 48px;
}

.form-error {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  color: red;
  display: none;
  text-align: left;
  margin: 5px 0;
}

@media screen and (max-width: 718px) {
  .container {
    width: 90%;
  }
  .container #phone {
    width: 80%;
    display: inline-block;
  }
  .container .text-btn-wrap .phoneCheck-btn {
    width: 19%;
  }
}
/*# sourceMappingURL=signup.css.map */