@import "../common";

.content {
  display: flex;
  justify-content: space-between;
  @include contentSize;
  .content-img {
    width: 53.03%;
    padding: 36px 0;
    position: relative;
  // img-view
    .img-control {
      .btn-next.btn,
      .btn-prev.btn {
        position: absolute;
        width: 40px;
        height: 40px;
        background: #0000004d;
        top: 47%;
        transform: translateY(-50%);
        color: $bg-light-gray;
        .fas {
          font-size: 12px;
        }
      }
      .btn-prev.btn {
        left: 0;
        
      }
      .btn-next.btn {
        right: 0;
      }
      .img-indicator {
        max-width: 462px;
        height: 56px;
        display: flex;
        margin: 8px auto 0;
        .indicator-img {
          width: 56px;
        }
        .indicator-img:nth-child(n+2) {
          margin-left: 2px;
        }
      }
    }
  }
  .content-info {
    width: 44.69%;
    max-height: 523px;
    margin-top: 36px;
    padding: 1rem;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 #0000001a;
    background-color: #fff;
    z-index: 10;
    .artist-card {
      display: flex;
      align-items: center;
      .artist-img {
        @include artist-img(24px, 24px, 24px);
        margin-right: 6px;
      }
      .artist-cardLabel {
        font-size: $size-14;
        color: $gray-font;
      }
      .fas.artist-card {
        margin: 2px 0 2px 2px;
        vertical-align: top;
        color: $light-gray-font;
      }
    }
    .product-tit {
      position: relative;
      .product-title {
      margin: 12px 0;
      font-size: 20px;
      color: $dark-gray-font;
      }
      .price-label {
        font-size: $size-24;
        word-spacing: -5px;
        .price-sale {
          color: $red-font;
        }
        .price {
          margin: 0 6px 0 8px; 
          color: $dark-gray-font;
        }
        del {
          font-size: $size-14;
          color: $light-gray-font;
        }
      }
      .product-mark {
        .like-btn {
            position: absolute;
            top: 47px;
            right: 58px;
            @include image-loading(24px, 24px, -653px, -470px);
          }
          .like-btn-txt {
            position: absolute;
            top: 71px;
            right: 60px;
            font-size: 10px;
            color: $light-gray-font;
          }
          .share-btn {
            position: absolute;
            top: 47px;
            right: 11px;
            @include image-loading(24px, 25px, -272px, -598px);
        }
      }
      .mark-txt {
        float: right;
        margin: 10px 10px 0 0;
        color: $gray-font;
        font-size: $size-14;
        em {
          font-weight: bold;
          margin-right: 3px;
        }
      }
    }
    .product-option {
      .option-btn {
        display: block;
        width: 438px;
        padding: 8px 16px;
        position: relative;
        background: $bg-white;
        text-align: left;
        color: $dark-gray-font;
        border: 1px solid $dark-gray-font;
        border-radius: 2px;
        .fa-chevron-down {
          position: absolute;
          right: 10px;
          top: 10px;
        }
      }
    }
    .quota-message {
        display: inline-block;
        margin: 10px 0 21px 17px;
        position: relative;
        color: $gray-font;
      }
      .quota-message::before {
        display: inline-block;
        content: '';
        @include info-icon(14px, 14px, 1px, -17px);
        color: $gray-font;
    }
    .checkout-cost {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .cost-label{
      color: $gray-font;
      font-size: $size-14;
      }
      .cost {
        font-size: $size-20;
        color: $dark-gray-font;
      }
    }
    .product-selected {
      margin-top: $size-16;
      display: flex;
      .btn {
        font-size: $size-16;
        border-radius: 2px;
        padding: 13 0px;
        border: 1px solid #d9d9d9;
        height: 48px;
        box-shadow: 0 1px 3px 0 #dcdcdc4d;
      }
      .btn-cart {
        width: 29%;
        background: #fff;
        color: $dark-gray-font;
      }
      .btn-npay {
        width: 29%;
        background: #30c612;
        border-color: #30c612;
        margin: 0 5px 0 6px;
        .npay {
          width: 64px;
        }
      }
      .btn-pay {
        width: 45%;
        background-color: $orange-font;
        color: $bg-white;
      }
    }
  }
  .content-info.fixed {
    max-width: 470px;
    margin-top: 0;
    position: fixed;
    top: 10px;
    right: calc(1056px - 33.2%);
  }
  // 배송 및 수량 정보
  .description {
    margin: 36px 0 16px 0;
    dt {
      float: left;
      width: 80px;
      font-size: 14px;
      color: $gray-font;
      margin-left: 0;
    }
    dd {
      margin: 0 0 10px 0;
      font-size: 14px;
      color: $dark-gray-font;
      em {
        font-weight: bold;
      }
      .delivery-priceUp {
        color: $light-gray-font;
        font-size: $size-12;
      }
    }
    .delivery-info{
      position: relative;
      .balloon-btn {
        @include info-icon(16px, 16px, 2px, 265px);
      }
      .balloon-delivery {
        display: none;
        @include balloon-box;
      }
    }
  
    .item-rating {
      display: inline-block;
      width: 135px;
      .rationg-star {
        @include rating-star(78px, 15px);
        .fa-star {
          margin: 0 -2px;
        }
      }
      .fa-chevron-right.rating {
        display: inline-block;
        font-size: 14px;
        color: $gray-font;
      }
    }
    .balloon-parents {
      position: relative;
      .balloon-box {
        display: none;
        @include balloon-box;
      }
      .balloon-btn {
        @include info-icon(16px, 16px, 1px, 15px);
      }
      .balloon-point {
        width: 100%;
        overflow: hidden;
        dt, dd {
          color: $dark-gray-font;
        }
        dt {
          float: left;
          width: 100px;
          margin-bottom: 2px;
        }
        dd {
          margin: 0;
          float: right;
        }
      }
      .idus-vip {
        margin-top: 5px;
        padding-top: 1px;
        border-top: $base-border;
        .vip-moreBtn {
          float: right;
          color: $orange-font;
        }
        .balloon-content-txt {
          margin-top: 13px;
          color: $light-gray-font;
        }
      }
    }
  }
}
.delivery-section {
  @include contentSize;
  .vip-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 53.03%;
  padding: 24px;
  background: #f8f8f8;
  margin-bottom: 24px; 
  border-radius: 4px;   
  text-align: center;
  p {
    float: left;
    font-size: $size-14;
  }
  .vip-boxEm {
    font-weight: bold;
  }
  .vib-clubBtn {
    display: inline-block;
    padding: 8px 29px;
    border-radius: 4px;
    border: 1px solid $orange-font;
    background-color: $bg-white;
    color: $orange-font;
    text-align: center;
    margin-right: 15px;
  }
}
.delivery-graph-box {
  width: 560px;
  padding: 24px;
  margin-bottom: 24px;
  .delivery-graph-tit {
    display: block;
    margin-bottom: 24px;
    font-size: $size-16;
    text-align: center;
    em {
      font-weight: bold;
    }
  }
  .delivery-description {
    margin: 8px 0;
    position: relative;
    .txt {
      float: left;
    }
    .txt-highlight.txt,
    .txt-detail.highlight {
      color: $orange-font;
    }
    .delivery-graph {
      position: absolute;
      width: 417px;
      height: 6px;
      margin: 0 0 0 58px;
      top: 4px;
      border-radius: 3px;
      background-color: $gray-bgc;
      .delivery-value {
        float: left;
        height: 6px;
        background-color: #acacac;
        border-radius: 3px;
      }
      .delivery-value.highlight {
        background-color: $orange-font;
      }
    }
    
    .txt-detail {
      float: right;
    }
  }
  .delivery-description::after {
    display: block;
    content: '';
    clear: both;
  }
  .delivery-total {
    display: block;
    margin-top: 12px;
    text-align: center;
    color: $light-gray-font;
  }
  }
}


.product-detail {
  @include contentSize;
  .product-detail-imgs {
    width: 560px;
    .detail-menu {
      display: flex;
      width: 100%;
      margin: 0;
      border-top: 1px solid #d9d9d9;
      border-bottom: 1px solid #d9d9d9;
      z-index: 10;
      background: #fff;
      .menu {
        width: 100%;
        padding: 18px 0 17px;
        flex-grow: 1;
        text-align: center;
        color: $gray-font;
        font-size: $size-16;
      }
      .menu.active {
          position: relative;
          color: $orange-font;
      }
      .menu.active::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 2px;
        bottom: -1px;
        left: 0;
        background-color: $orange-font;
      }
    }
    .product-subtit {
      display: block;
      padding: 180px 0;
      font-size: $size-16;
      color: $dark-gray-font;
      font-weight: bold;
      text-align: center;
    }
    .description-imgFirst {
      margin-bottom: 36px;
    }
    .product-detail-quoteItem {
      padding: 36px 0;
      position: relative;
      .product-detail-txt.bold {
        padding: 16px 0;
        font-size: $size-16;
        font-weight: bold;
        color: $dark-gray-font;
        text-align: center;
      }
      .quote-right,
      .quote-left {
        position: absolute;
        color: $line-division;
        svg {
          max-height: 24px;
          width: auto;
          path {
            fill: currentcolor;
          }
        }
      }
      .quote-left {
        top: 10px;
        left: 272px;
      }
      .quote-right {
        bottom: 4px;
        left: 270px;
      }
    }
    .line,
    .sm-line {
      height: 1px;
      margin: 60px auto 23px;
      background-color: $dark-gray-font;
    }
    .line {
      width: 60px;
    }
    .description-imgCar {
      margin: 126px 0 216px;
    }
    .product-detail-txt {
      text-align: center;
      font-size: $size-14;
      padding: 20px;
    }
    .product-detail-txt.incense {
      line-height: 2.5;
    }
    .product-detail-txt.details {
      padding-bottom: 120px;
    }
    .description-img.car-detail {
      margin-top: 126px;
    }
    .sm-line {
      width: 5px;
    }
    .more-btn {
      width: 560px;
      max-width: 100%;
      margin-bottom: 18px;
      padding: 12px 0;
      border: 1px solid #505fcd;
      color: #505fcd;
      font-size: $size-16;
      .fa-chevron-down {
        margin-left: 4px;
        font-size: $size-12;
      }
    }
  }
  .info-product {
    max-width: 1056px;
    width: 100%;
    margin: 0 auto;
    font-size: $size-12;
    .category-keyword {
      width: 560px;
      margin-bottom: 24px;
      padding-top: 24px;
      border-top: 1px solid #d9d9d9;
      .product-infoTxt {
        display: block;
        font-size: 10px;
        color: $light-gray-font;
        text-align: center;
      }
      .product-category {
        display: block;
        margin: 2px 0 18px 0;
        font-size: 15px;
        text-align: center;
        color: $dark-gray-font;
      }
      .keyword {
        display: flex;
        flex-wrap: wrap;
        padding: 16px 12px;
        justify-content: center;
        li {
          padding: 6px 8px;
          font-size: $size-12;
          border-radius: 2px;
          border: $base-border;
          a {
            color: $gray-font;
          }
        }
        li:nth-child(n+1) {
          margin: 8px 0 0 8px;
        }
      }
    }
  }
  .info-productView,
  .info-artist, 
  .info-delivery{
    width: 560px;
    .info-productBtn {
      @include info-btn;
      .fa-chevron-down {
        float: right;
        margin-top: 4px;
      }
    }
    .info-product-table {
      .table-st.last {
        border-bottom: $base-border;
      }
      .table-st th {
        @include table-style($gray-font);
        background: $gray-bgc;
      }
      .table-st td {
        @include table-style($dark-gray-font);
        border-left: 1px solid #ccc;
        .delivery-highlight {
          color: #00aa9b;
        }
        .txt-sm {
          font-size: 10px;
          color: $light-gray-font;
        }
      }
      
    }
  }
}
// 판매중인 다른 작품들 & 작가 sns
.other-product {
  @include contentSize;
  padding: 64px 0;
  overflow: hidden;
  .other-content {
    width: 480px;
    float: left;
    margin-left: 16px;
    position: relative;
    .tit-box {
      margin-bottom: 24px;
      .other-tit {
      display: inline-block;
      padding-top: 40px;
      color: $dark-gray-font;
      font-size: $size-20;
      text-align: left;
      }
      .other-link {
      position: absolute;
      top: 40px;
      right: 0px;
      padding: 4px 8px 4px;
      color: $dark-gray-font;
      border: 1px solid #ccc;
      background: $bg-white;
      }
    }
  }
  .other-ul {
    display: flex;
    justify-content: space-between;
    li {
      width: 22.5%;
      border-radius: 4px;
      border: $base-border;
      box-shadow:  1px 3px 0 #dcdcdc4d;
      .other-linkBox img {
        height: 106px;
      }
      .other-info {
        padding: 8px 10px;
        .other-artist {
          margin:8px 0 4px 0;
          @include font-overflow($light-gray-font);
         }
      .other-name {
        @include font-overflow($dark-gray-font);
        }
      }
    }
  }
  .artist-sns {
    float: right;
    width: 480px;
    margin: 39px 0 0 16px; 
    padding: 40px 24px 32px;
    border-left: $base-border;
    .artist-img.lg {
    @include artist-img(68px, 68px, 68px);
    display: inline-block;
    margin-right: 22px;
    }
    .artist-label {
      display: inline-block;
      transform: translateY(-55px);
      margin-bottom: 8px;
      font-size: $size-14;
      color: $dark-gray-font;
      font-weight: bold;
    }
    .fa-chevron-right {
      transform: translate(2px, -54px);
      font-size: $size-14;
      color: $light-gray-font;
    }
    .rationg-star {
      @include rating-star(74px, 14px);
      transform: translate(-190px, -32px);
      .fa-star {
        margin: 0 -2px;
      }
    }
    .star-score {
      display: inline-block;
      transform: translate(-187px, -32px);
      color: $light-gray-font;
    }
    .flex-right {
      width: 329px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      transform: translate(94px, -32px);
      .sns-detailTit {
        span {
          display: inline-block;
          margin: 0 57px 8px 0;
          color: $light-gray-font;
        }
      }
      .sns-detailTxt {
        strong{
          display: inline-block;
          margin-right: 51px;
          font-size: $size-16;
          font-weight: bold;
          color: $dark-gray-font;
        }
      }
    }
    .follow-btn {
      @include follow-btn($bg-white, $orange-font, $orange-font);
    }
    .story-btn {
      @include follow-btn($dark-gray-font, $bg-white, $line-division);

    }
  }
}


// 고정 버튼
.move-top {
  @include move-btn(62px);
    img {
      width: 36px;
    };
  };

.artist-question {
  @include move-btn(127px); 
    img {
      width: 34px;
    };
}


// 미디어 쿼리

@media all and (max-width: 1024px) {
  .advertisement,
  .main-header,
  footer {
    display: none;
  }

  .content,
  .product-detail,
  .other-product {
    width: 100%;
    padding: 0;
  }
  .content {
    .content-info.fixed,
    .content-info{
      width: 100%;
      position: static;
      padding: 12px 12px 20px 12px;
      z-index: 0;
      .artist-card {
        display: block;
        display: flex;
        .artist-cardLabel {
        font-size: $size-14;
        }
      }
    .content-img {
      padding-top: 0;
      padding-bottom: 12px;
      .slide-img {
        width: 100%;
      }
    }
    .product-tit {
      .product-title {
        position: relative;
        margin: 10px 0 10px;
        font-size: $size-20;
      }
      .price-label {
        margin-top: 50px;
      }
      .mark-txt {
        display: inline-block;
        position: absolute;
        margin: 0;
        left: 0;
        bottom: 45px;
        font-size: $size-14;
      }
      .product-mark {
        .like-btn-box {
          display: none;
        }
        .share-btn {
          display: none;
        }
      }
    }
    .product-selected {
      position: fixed;
      bottom: 10px;
    }
    }
  }
  .other-product {
    display: none;
  }
  .artist-question {
    display: none;
    // @include move-btn(62px, '../../images/icons/artist-inquire-icon.svg', 34px, 34px);
  }
  .move-top {
    display: none;
  }
}